.autofill {
    top: 75px;
    z-index: 5;
    border-radius: 0 0 30px 30px;
    font-weight: 600;
    border: 1.5px solid #0a4074;
    border-top: 1px solid #eeeeee;
}

.preview-item-name {
    color: #a09a9a;
    padding: 20px 20px 10px 20px;
}

.preview-item-info {
    padding: 0 20px 10px 20px;
}

.preview-item-img {
    width: 35px;
    padding-right: 10px;
}

.preview-info .text {
    margin-top: 5px;
    padding-right: 40px;
}

.preview-item-results-link {
    text-decoration: none;
    color: inherit;
}
