.section-block {
  width: 35%;
  border-right: 1px solid #cdcccc;
}

.section-block:last-child{
  border-right: none;
}

.section-block .text {
  margin-bottom: 10px;
}

.boarding-view .table-wrapper {
  width: inherit;
  margin-left: 0;
}

.boarding-view .title-row{
  position: relative;
}
