.user-editor-form {
    margin: 20px 0;
}

.user-editor-form .new-user-box {
    padding: 30px;
}

.user-editor-form .user-type-select {
    height: 40px;
    margin-top: 30px;
    color: #6f6d6d;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #979797;
}

.user-editor-form .user-type-menu {
    margin-top: 72px;
}

.user-editor-form .user-type-option {
    margin-top: 72px;
}

.user-editor-form form {
    width: 37%;
    padding: 40px 0;
}

.user-editor-form .add-img {
    width: 130px;
    height: 130px;
}

.user-editor-form .blue-btn {
    padding: 10px 30px;
}

.user-editor-form .white-btn {
    padding: 9px;
}

.user-editor-form .form-input {
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
}


.user-editor-form .password-line{
  position: relative;
}

.user-editor-form .password-line .form-input{
  width: 100%;
}

.user-editor-form .password-line button{
   position: absolute;
   right: 0;
   margin: 0;
   margin-top: 30px;
}
