.crew-view-page h3 {
    margin: 0;
}

.crew-view-page table thead td {
    font-weight: 500;
    font-size: 12px;
    color: #8b8b8b;
}

.crew-view-page .sm-photo-icon {
    width: 35px;
    height: max-content;
    padding-right: 5px;
}

.crew-view-page .captain-icon {
    height: 15px;
    margin-left: 30px;
}

.crew-view-page .vessels-section {
    width: 57%;
}

.crew-view-page .license-section {
    width: 35%;
}
