.crew-view-page h3 {
    margin: 0;
}

.crew-view-page .sm-photo-icon {
    width: 35px;
    height: max-content;
    padding-right: 5px;
}

.crew-view-page .captain-icon {
    height: 15px;
    margin-left: 30px;
}

.crew-view-page .vessels-section {
    width: 65%;
}

.crew-view-page .license-section {
    width: 35%;
}
