.all-items-list {
  border-radius: 5px;
  margin-bottom: 30px;
}

.main-info {
  padding-left: 25px;
}

.item-search {
  color: #747171;
}

.item-link {
  font-size: 16px;
  font-weight: 500;
  color: #0a4074;
  text-decoration: none;
  padding-right: 25px;
}

.boarding-info {
  height: 97px;
}

.icon-img {
  width: 100px;
  padding-right: 10px;
}

.boarding-info .text{
  margin-right: 20px;
}