.title {
  padding-top: 3em !important;
  text-align: center;
}

.content {
  padding: 0 6em !important;
}

.form-field {
  margin: 1em 0;
  padding: 1em 0;
}

.form-input {
  width: 100%;
}

.action-btns {
  padding: 2em !important;
}

.done-icon {
  color: green;
  padding-right: 10px;
}