.title {
  padding-top: 2em !important;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.content {
  padding: 0 6em !important;
}

.form-field {
  margin: 1em 0;
  padding: 1em 0;
}

.form-input {
  width: 100%;
}

.action-btns {
  padding: 2em !important;
}

.done-icon {
  color: green;
  padding-right: 10px;
}

.validation:first-of-type {
  padding-top: 20px;
}

.validation {
  padding: 4px 0;
}
