.show-map-handler {
    padding: 0 15px;
}

.map-handler {
    margin-top: 8px;
}

.all-boardings-map {
  height: 360px;
  width: 85%;
  overflow: hidden;
  padding-bottom: 1em;
  margin-left: 1em;
}

.boardings-table td:first-child {
    width: 15%;
}

.boardings-table td:nth-child(2) {
    width: 10%;
}

.boardings-table td:last-child {
    width: 10%;
}

.risk-icon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
