.show-map-handler {
    padding: 0 15px;
}

.map-handler {
    margin-right: 8px;
}

.all-boardings-map {
  height: 360px;
  width: 85%;
  overflow: hidden;
  padding-bottom: 1em;
  margin-left: 1em;
}

.boardings-table td:first-child,
.boardings-table td:nth-child(5),
.boardings-table td:nth-child(4) {
    width: 15%;
}

.boardings-table td:nth-child(2),
.boardings-table td:nth-child(6),
.boardings-table td:last-child {
    width: 10%;
}


.boardings-page__date-range {
    margin: 0 20px;
}