.edit-agency-form {
    margin: 20px 0;
    padding-top: 60px;
    padding-bottom: 60px;
}

.edit-agency-form .blue-btn {
    top: -75px;
    right: 65px;
}

.edit-agency-form .white-btn {
    top: -75px;
    right: 0px;
    padding: 9px;
}

.edit-agency-box .form-input {
    width: 350px;
    margin-top: 30px;
}

.edit-agency-box .form-input:first-child {
    margin-top: 0;
}

.edit-agency-form .status-line {
    position: relative;
}

.edit-agency-form .status-line .form-input {
    width: 100%;
}

.edit-agency-form .status-line .status-switch {
    position: absolute;
    right: 0;
    margin: 0;
    margin-top: 4px;
}

.edit-agency-form .blue-btn {
    padding: 10px 24px;
}
