
/* Form info */
.form-content {
    padding: 15px;
}

.form-content-menu {
    width: 20%;
    border-right: solid 1px #dadada;
    padding: 2em;
}

.form-menu-item {
    padding: 10px 0;
    border-bottom: 1px solid;
    cursor: pointer;
}

.form-menu-item:first-child {
    padding-top: 0;
}

.form-menu-item:last-child {
    border-bottom: none;
}

.form-menu-item.active-form-menu-item {
    font-weight: 700;
}

.form-menu-item.sub-item{
  font-weight: normal;
  padding-left: 1em;
}

.form-menu-item.sub-item.active-form-menu-item {
    font-weight: 700;
}

.form-empty{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.form-empty button {
  margin-right: 0;
}

.form-empty .title {
  height: 100%;
  display: flex;
  align-items: center;
  color: #dadada;
  font-size: 2.5em;
}


.form-search {
    width: 100%;
}

.form-search-panel {
    padding-left: 25px;
}

.form-search-field {
    border: 1px solid #DADADA;
    border-radius: 3px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px
}

.form-search-field .search-field{
  border: none;
}

.form-checkbox-list {
    margin-left: 25px;
}

.form-checkbox-list .box {
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0;
    outline-color: transparent;
}

.form-checkbox-list .box:last-child {
    border-bottom: none;
}

.form-info-box {
    padding: 1em 2em;
    border-bottom: solid 1px #DADADA;
}
