.select-menu {
    width: 10%;
    margin-right: 15px;
}

.select-menu div:first-child {
    padding-left: 12px;
}

.select-menu .selected-item {
    height: 35px;
    color: #777575;
    border-left: 1px solid #acacac;
    margin: 10px 0;
    cursor: pointer;
}

.select-menu .options-list {
    z-index: 4;
    top: 57px;
    width: 118px;
    border-radius: 3px;
}

.select-menu .option {
    padding: 7px 14px;
}

.select-menu .capitalize {
    text-transform: capitalize;
    padding-right: 10px;
}

.select-menu .option:hover {
    background: #eeeeee;
    cursor: pointer;
}
