.photos-section {
  width: 50%;
}

.photos-section .photos-list {
  flex-wrap: wrap;
}

.photos-section .photo-container {
  width: 23%;
}

.photos-section .photo-container .date-text {
  color: #2c5a87;
  font-weight: 500;
}