.photo-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
}

.photo-uploader .hidden-uploader{
  display: none;
}

.photo-uploader .add-img{
  border-radius: 65px;
  overflow: hidden;
}
