.home .search-panel .filled {
    background: #fff;
    border-radius: 30px 30px 0 0;
    border: 1.5px solid #0a4074;
}

.home .autofilled:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100%;
    height: 100vh;
}
