.new-boarding__catch--species {
    width: 20%;
}

.new-boarding__catch--description {
    width: 20%;
}

.new-boarding__catch--weight {
    width: 18%;
}

.new-boarding__catch--units {
    width: 15%;
}

.new-boarding__catch--count {
    width: 18%;
}