.vessel-view-page h3 {
    margin: 0;
}

.vessel-view-page table thead td {
    width: 25%;
    font-size: 14px;
}

.vessel-view-page table tbody td {
    width: 25%;
}

.vessel-view-page .crew-section {
    width: 65%;
}

.vessel-view-page .violations-section table thead td  {
    width: 20%;
}

.vessel-view-page .violations-section table tbody td  {
    width: 20%;
}

.vessel-view-page .crew-section .see-link {
    color: #2c5a87;
}

.vessel-view-page .crew-section .note {
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vessel-view-page .delivery-section {
    width: 35%;
}

.vessel-view-page .sm-photo-icon {
    width: 35px;
    height: max-content;
    padding-right: 5px;
}

.vessel-view-page .crew-list {
    flex-wrap: wrap;
}

.vessel-view-page .captain-icon {
    height: 15px;
    margin-left: 30px;
}

.vessel-view-page .sub-section {
    border-radius: 15px;
}
