/* Agency main info */
.agency-header {
    border-bottom: 1px solid #dcd7d7;
    padding: 20px 0;
}

.agency-header .agency-name {
    font-size: 30px;
}

.agency-header .status-icon {
    margin-left: 5px;
    margin-top: 5px;
}

.agency-box {
    padding-top: 10px;
    color: #0c4175;
}

.agency-box-img {
    width: 20px;
    padding-right: 5px;
}

/* Tabs */
.agency-tab {
    color: #a0a0a0;
    padding: 15px;
    cursor: pointer;
}

.active-agency-tab {
    color: #0a4074;
    font-weight: 500;
    border-bottom: 2px solid #0a4074;
}

.agency-tab-content {
    margin-top: 15px;
}

.agency-tab-content table{
    color: black;
}

/* Officers info */
.agency-info-box {
    margin: 0 10px;
}

.officer-container-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.officer-search-panel {
    width: 450px;
    background: inherit;
    border:1px solid #ececec;
    border-radius: 5px;
}

.officer-search-panel .search-icon {
    margin:auto 5px;
  }

.officer-search-panel-input {
    outline: none;
    border: none;
    margin:8px auto;
    flex-grow: 1;
}

.officer-table-border-width {
    border-width: 3px;
}

