.item-info {
  height: 100px;
}

.icon-img {
  width: 100px;
}

.item-info-name {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  padding-right: 5px;
}

.item-info-link {
  text-decoration: none;
  color: inherit;
}