/* Data sharing css */
.form-data .header-name {
    font-size: 20px;
    font-weight: 500;
    padding: 18px 18px 10px 18px;
}

.form-data .data-sharing-table {
    margin: 0 18px;
}

.new-agency:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 7.5px;
    background-color: #e17000;
}

.form-data .white-btn {
    width: max-content;
    margin-top: 10px;
}
