.filter-panel {
  width: 250px;
  padding: 0.5em 0.2em;
  border-radius: 3px;
  text-align: left;
  z-index: 10;
  max-height: 500px;
  top: 60px;
  overflow-y: auto;
  transition-property: height, padding-top, left;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.filter-panel .invisible {
  height: 0;
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
}

.filter-panel .search-icon {
  margin-left: 10px;
}

.filter-panel .search {
  margin: 0px;
  box-shadow: none;
  border: solid 1px #aaa;
  background: none;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-panel .search .search-field {
  padding: 10px;
  width: 100%;
  border: none;
  background: inherit;
  padding: 1em;
  outline: none;
}

.filter-panel section {
  padding: 7px 20px 7px 20px;
}

.filter-panel section h3 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.filter-part .MuiIcon-root {
  font-size: 1em;
}

.filter-part .filter-part-tag {
  padding: 2px 1em;
  display: flex;
  align-items: center;
}

.filter-part .icon {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 10px;
}

.filter-part .white-btn {
  padding: 5px 15px;
  border-radius: 25px;
  margin: 20px 20px 20px 0;
}

.filter-search-panel .MuiFormControl-root {
  width: 80%;
}

.filter-part .filter-part-tag .filter-part-name,
.filter-part .filter-part-tag .filter-part-value,
.filter-part .filter-part-tag .show-panel-btn,
.filter-part .filter-part-tag .remove-filter-btn {
  padding-right: 0.2em;
}

.show-panel-btn:hover,
.remove-filter-btn:hover {
  color: #666;
}
/* -------------------------- */
.filter-search-panel {
  width: 250px;
  z-index: 10;
  top: 30px;
  padding: 20px;
  border-radius: 3px;
}

.filter-search-panel .search-panel {
  margin: 0;
}

.filter-panel .filter-line {
  padding-left: 0.5em;
  margin-top: 0.5em;
}
